# .github/workflows/render-mermaid.yml
name: Render Mermaid Diagrams

on:
  push:
    branches: [ main, frame-implementation-simplified-fetching ]
  pull_request:

jobs:
  render-diagrams:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Render Mermaid diagrams in Markdown
        uses: nielsvaneck/render-md-mermaid@v3
