# .github/workflows/render-mermaid.yml
name: Render Mermaid Diagrams

on:
  push:
    branches: [ master, frame-implementation-simplified-fetching ]
  pull_request:

jobs:
  render-diagrams:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Render Mermaid diagrams in Markdown
        uses: nielsvaneck/render-md-mermaid@v3
        with:
          input: 'diagrams/*.mmd'
          output: 'docs/assets/diagrams'
          format: 'svg'